<!-- importing the class in orther to get varibales -->
@using BlazorAppBlog1.Shared
@using BlazorAppBlog1.Client

@foreach (var post in Posts)
{
    <div style="margin: 20px;">
        <div>
            <h4>@post.Title</h4>
        </div>
        <div>
            @post.Description
        </div>
    </div>
}

@code {
    public List<BlogPost> Posts { get; set; } = new List<BlogPost>() {
        new BlogPost { Title = "stuff about blazor", Description= "This is ...text"},
        new BlogPost { Title ="More stuff about Blazor", Description ="hi, this is a blogpost"}
    };
}



