<!-- importing the class in orther to get varibales -->
@using BlazorAppBlog1.Shared
@using BlazorAppBlog1.Client
@inject BlazorAppBlog1.Client.Services.IBlogService BlogService


@foreach (var post in Posts)
{
    <div style="margin: 20px;">
        <div>
            <h4>@post.Title</h4>
        </div>
        <div>
            @post.Description
        </div>
    </div>
}

@code {
    private List<BlogPost> Post = new List<BlogPost>();

    protected override void OnInitialized()
    {
        Posts = BlogService.GetBlogPosts();
    }

}



